body, #gameCanvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%
}

body {
	background: #000;
}

video {
	display: none;
}

#inputCancas, overlay {
	position: absolute;
	left: 0px;
}
